@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html {
	background: url("/images/img1.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body { 
    margin: 0;
font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
	 background-image;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  
  background-size: 100%;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4 h5, h6{ 
margin: 0
}
/*container*/
.container {
    width: 100%;
    max-width: 1520;
    margin: 0 auto;
    padding: 0 40px;
    display: inline-block;
	position:relative;
	
    
}
/*intro*/
.intro {
	background-repeat: no-repeat;
  background-position: center;
    width: 100%;
    height: 100%;
    background:  center no-repeat;
    -webkit- background-size: 100%;	
        background-size: 100%;
	
}

.intro_inner{
	width: 100%;
	max-width: 665px;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
    margin-top:100px;
 	
}


.intro_title{
	font-family: 'Lilita One', cursive;
	font-size: 5rem;
	font-weight: bold;
	margin: 0;
	padding-top: 0;
	color:rgb(255, 255, 255);
	text-align: center;
	
}

.intro_text {
	font-size: 30px;
	margin-top: -90px;
    margin-left: -100px;
    font-weight: 500;
    line-height: 1.2;
	color:rgb(255, 255, 255);
	text-align: center;
	font-family: 'Lilita One', cursive;
	justify-content: center;
}


.intro_content{
	display: grid;
	margin-top: 40px;
	position: relative;
	height: 200px;
	left:45%;
	transform: translate(-50%, -50%);
	justify-items: center;
	margin-left: 33px;	
	
	
}
.logo_content{
	height: 156px;
	flex: 1 auto;
	width: 156p;
    float: left;
	
	
	
}
 .intro_contract {
	flex: 1;
    float: left;
	 width: 100%;
	 border-radius: 10px;
	 
	 font-size: 25px;
	
    font-weight: 500;
    line-height: 1.2;
	color:rgba(235, 61, 61, 1);
	text-align: center;
	font-family: 'Poppins', sans-serif;
	padding-top: 65px;
	 margin-top: 0px;
	 border-width: 3px;
	 border-color: #f8f9fa!important;
	 border: 5px solid #dee2e6!important;
	 flex-direction: column;
	
	

}
.int_nft{
    float: left;
	width: 25%;
    
	justify-content: center;
	margin-top: -300px;
	
	background-color: #eb3d3d;
	opacity: 0.9;
	text-align: center;
	border-radius: 15px;

}
.int_nft1{
	float: right;
	
	width: 25%;
	justify-content: center;
	text-align: center;
	
	margin-top: -270px;
	margin-right: 50px;
	
	
}

.text_nft{
	color: #fff;
	font-size: 30px;
	font-family: 'Righteous', cursive;	

}
.gif {
	margin-top: -100px;
	margin-left: 50px;
}
.bold{
	font-weight: bold;
	text-decoration: underline;

	
}
	

}
.intro_text1 {
	flex: 1;
    float: left;
	width: 25%;
    font-size: 20px;
	justify-content: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 20px;
	color:rgba(235, 61, 61, 1);
	
	}
.intro_btn {
display: flex;
	
	justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
	 padding: 12px;
	margin-top: 20px;
	margin-right: 160px;
	
	font-family: 'Poppins', bold;
	position: relative;
}

.btn_1 {
	    display: inline-block;
    vertical-align: top;
    margin: 5px;
    font-weight: bold;
    padding: 14px 40px;
    font-size: 17px;
    color: #000;
    text-decoration: none;
    transition: color .2s linear;
	font-weight: 700;
	background: linear-gradient(90deg, rgba(255,190,8,0.8631827731092436) 0%, rgba(254,255,0,0.8715861344537815) 100%);
    border-color: #eb3d3d;
	border-radius: 10px;
	margin-right: 2px!important;
	margin-left: 150px;
        }

.btn_2 {
	    display: inline-block;
    vertical-align: top;
    margin: 5px;
    font-weight: bold;
    padding: 14px 40px;
    font-size: 17px;
    color: #000;
    text-decoration: none;
    transition: color .2s linear;
	font-weight: 700;
    background: linear-gradient(90deg, rgba(255,190,8,0.8631827731092436) 0%, rgba(254,255,0,0.8715861344537815) 100%);
    border-color: #eb3d3d;
	border-radius: 10px;
	margin-right: 150px;
	margin-right: 2px!important;
	
}
.btn_1:hover {color:#ffa500}
.btn_2:hover {color:#ffa500}

.div_vid{
	display: block;
	position: fixed;
	right: 0;
	margin-left: 50%;
}
.NFT_vid {
	
	margin-left: 40px;
	
	
}
.intro_NFT{font-family: 'Lilita One', cursive;
	font-size: 65px;
	font-weight: bold;
	margin: 0;
	padding-top: 0;
	color:#ffa500;
	text-align: center;
	margin-left: 35px;
	margin-top: -60px;
	

}
.btn_nft {
	display: inline-block;
    vertical-align: top;
    margin: 5px;
    font-weight: bold;
    padding: 10px 10px;
    font-size: 17px;
    color: rgb(1, 2, 1);
    text-decoration: none;
    transition: color .2s linear;
	font-weight: 700;
	background: linear-gradient(90deg, rgba(255,190,8,0.8631827731092436) 0%, rgba(254,255,0,0.8715861344537815) 100%);
    
	border-radius: 10px;
	margin-right: 2px!important;
	width: 50px;
	margin-left: 45px
}
.btn_nft:hover{color:#ffa500
}


/*header*/

.header {
	width: 100%;
	background: 
	margin: 0 auto;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	z-index: 1000;
	max-height: 134px;
}

.btn-con{
	padding: 8px;
 margin-top:18px;
	float:right;
	background: #291d45;
	border-radius: 10px;
	font-size: 15px;
	color: rgb(226, 226, 226);
	font-weight: bold;
	border-color: #8e7497
	
}
.btn-con:hover {color:#ffc107}
.login-text {
	overflow: hidden;
	float:right;
	margin-top: 20px;
	margin-right: 50px;
	text-align: center;
	text-overflow: ellipsis;
	width: 150px;
	background-color: #291d4566;
	border-radius: 10px;
	padding: 3px;
	color: rgb(255, 255, 255);
	border-color: #eb3d3d;
}
.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo{

	width: 150px;
	vertical-align: middle;
	


}

/*nav*/
.nav {
	font-size: 15px;
	text-transform: uppercase;
    flex-direction: row;
	display: flex;
	justify-content: center;
	width: 100%;
	
}
.nav_link {
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	font-weight: bold;
	padding: 10px 10px;
	font-size: 17px;
	color:#fff;
	text-decoration: none;
		transition: color .2s linear;
	
}
.nav_link:hover {
	color:#ffa500;
	;
}

.container-2 {
	width: 100%;
    max-width: 1520;
    margin: 0 auto;
	position: relative;
	height: 500px;
	margin-top: 220px;
background: url center no-repeat;
    -webkit- background-size: cover;
        background-size: cover;
}
		

	
.abouts_us {
	display: flex;
    width: 100%;
    height: 300px;
	
	flex-direction: column;
	
    
}
.left {
	width: 50%;
	height: 100%;
	
}
.right {
	width:50%; 
	height: 100%;
	float:right;
	
}
.selector {
	margin-bottom: 20px;
	margin-left: 35px;
	
}
	

.text {
	color:rgba(235, 61, 61, 1);
	font-size: 20px;
	line-height: 2;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-right: -100px;

}
.text12 {
	
	
	background: #fff;
	font-size: 30px;
	font-family: 'Righteous', cursive;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	text-align: center;
	margin-top: -90px;
	
  
 
	
	
}
.tittle_ab {
	font-family: 'Lilita One', cursive;
	font-size: 3rem;
	font-weight: bold;
	margin: 0;
	padding-top: 0;
	color:rgba(235, 61, 61, 1);
	text-align: center;
	justify-content: center;
	
}
.container-3{
	width: 665px;
    max-width: 1520;
    margin: 0 auto;
	position: relative;
	
background:  center no-repeat;
    -webkit- background-size: cover;
        background-size: cover;
	
	}
.tokenomics{
width: 100%;
    max-width: 665px;
   
    flex-direction: column;
    justify-content: center;
  	 	}

.img_luck {
	margin-left: -140px;
	
}
	
}
.tok__title{
	font-family: 'Lilita One', cursive;
	font-size: 3rem;
	font-weight: bold;
	margin: 1;
	padding-top: 10px;
	
	border-radius: 10px;
}
		

.tittle1 {
	text-align: center;
	font-family: 'Lilita One', cursive;
	font-size: 25px;
	color:#ffc107;
	float:inherit;
	margin-bottom: 10px;
	 border-radius: 10px;
	border-color: #eb3d3d;
	border-radius: 10px;
}
.t1 {font-family: 'Lilita One', cursive;
	text-align: center;
	font-size: 20px;
	color:#ffc107;
	margin-bottom: 5px;
	border-color: #eb3d3d;
	border-radius: 10px;
		
}
.container-4 {
	width: 100%;
    max-width: 1520;
	
    margin: 0 auto;
	position: relative;
	height: 832px;
background:
    -webkit- background-size: cover;
        background-size: cover;}
	
	

.How_to_buy {
	display: flex;
	width: 100%;
    max-width: 880px;
	height: 832px;
    margin: 0 auto;
   
    justify-content: center;
  	padding: 40px;
	
}

.left1 {
	width: 50%;
	height: 100%;
	float: left;
	
	
}
.tittle_HTB {
	font-family: 'Lilita One', cursive;
	font-size: 55px;
	font-weight: bold;
	margin: 0;
	padding-top: 0;
	color:rgba(235, 61, 61, 1);
	text-align: center;
	margin-left: -120px;
	
	}
.Text_HTB {
	 background: #fff;
	font-size: 30px;
	font-family: 'Righteous', cursive;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -30px;
  
	
	
}
.link-warning text-break:focus{
  color:#ffc107		
}
.textHTB1{
	margin-top: -50px;
}

.right1 {
	display: flex;
	width:50%; 
	height: 100%;
	float:right;
	align-items: center;
	justify-content: center;
	
}
.container-5{
	
    width: 1520;
	height: 200px;
	margin-top: 180px;
    
	position: relative;
	background: ;

    -webkit- background-size: cover;
        background-size: cover;

}
	
.Links {
	display: flex;
    width: 100%;
    height: 100px;
	margin: 0 auto;
	justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    font-family: 'Poppins', bold;
	
	
}

.end_tittle{
	padding-top: 20px;
	text-align: center;
	font-size: 7px;
	color: #f8f9fa;
}


#mintDiv{
width: 100hw;
	text-align: center;
}


#dropdownMintAmt{
	border: solid;
	border-color:rgba(235, 61, 61, 1);
	border-radius: 12px;
	font-size: 20px;
}


#mintBTN{

	
}
.container-6{
	width: 665px;
    max-width: 1520;
    margin: 0 auto;
	position: relative;
	
background:  center no-repeat;
    -webkit- background-size: cover;
        background-size: cover;

}
.Safecontract{
	width: 100%;
    max-width: 665px;
    flex-direction: column;
    justify-content: left;
}
.safeintro{
	margin-left: -55px;
	margin-top: 50px;
	margin-bottom: 35px;
	
}
.Text_safe{
	background: #fff;
	font-size: 30px;
	font-family: 'Righteous', cursive;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -50px;
  
}
.textsafe{
	margin-top: -50px;
}



#divTracker{

	display: inline-block;
	background-color: #eb3d3d;
	color: #f8f9fa;
	padding: 5px;
	border: solid;
	border-radius: 15px;
}